
.MainChat
  .MainChat__Header
    .MainChat__Header__Group-Info
      .MainChat__Header__Group-Info__Left
        .MainChat__Header__Group-Info__Left__Groupname
          test
        .MainChat__Header__Group-Info__Left__Members
          Member : masa
      = form_with url: "#" do |form|
        %button{type: "submit", class:'MainChat__Header__Group-Info__Editbtn'}
          Edit

  .MessageList
    .MessageList__Field
      .MessageList__Field__Info
        .MessageList__Field__Info__Username
          masa
        .MessageList__Field__Info__Date
          2019/11/20(Wed) 17:43:01
      .MessageList__Field__Comment
        おはよう！
    .MessageList__Field
      .MessageList__Field__Info
        .MessageList__Field__Info__Username
          masa
        .MessageList__Field__Info__Date
          2019/11/20(Wed) 17:43:01
      .MessageList__Field__Comment
        おはよう！

  .MessageForm
    .MessageForm__Content
      .MessageForm__Content__Textbox
        = form_with url: "#" do |form|
          = form.text_field :body, class: 'MessageForm__Content__Textbox__Textfield', placeholder: 'type a message'
          = form.label :image, class: 'MessageForm__Content__Textbox__Form-Image' do
            %i.far.fa-image
            = form.file_field :image
      .MessageForm__Content__Button
        = form_with url: "#" do |form|
          %button{type: "submit", class:'MessageForm__Content__Button--Sendbtn'}
            Send
