
.MainChat
  .MainChat__Header
    .MainChat__Header__Group-Info
      .MainChat__Header__Group-Info__Left
        .MainChat__Header__Group-Info__Left__Groupname
          = @group.name
        .MainChat__Header__Group-Info__Left__Members
          Member :
          - @group.users.each do |user|
            = user.name
      = link_to "Edit", edit_group_path(@group), class:'MainChat__Header__Group-Info__Editbtn'
          
  .MessageList
    = render @messages

  .MessageForm
    .MessageForm__Textbox
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |form|
        .MessageForm__Textbox__Textfield
          = form.text_field :body, class: 'MessageForm__Textbox__Textfield--Text', placeholder: 'type a message'
          .MessageForm__Textbox__Textfield__Label
            = form.label :image, class: 'MessageForm__Textbox__Textfield__Label__Form-Image' do
              = icon('far', 'image')
              = form.file_field :image
        = form.submit "Send", class:'MessageForm__Textbox__SendButton'
