.SideBar
  .SideBar__Username
    .SideBar__Username__Top-Items
      .SideBar__Username__Top-Items--Name
        = current_user.name
      .SideBar__Username__Top-Items--Icons
        =link_to new_group_path(), class: 'SideBar__Username__Top-Items--Icons__LeftIcon' do
          = icon('fas', 'edit', class: 'SideBar__Username__Top-Items--Icons__LeftIcon__EditIcon')
        =link_to edit_user_path(current_user), class: 'SideBar__Username__Top-Items--Icons__RightIcon' do
          = icon('fas', 'cog', class: 'SideBar__Username__Top-Items--Icons__RightIcon__CogIcon')
            
  .SideBar__GroupList
    - current_user.groups.each do |group|
      .SideBar__GroupList__Groups
        = link_to '#', class: 'SideBar__GroupList__Groups__GroupAccount' do
          .SideBar__GroupList__Groups__GroupAccount__Groupname
            = group.name
          .SideBar__GroupList__Groups__GroupAccount__Message
            メッセージはまだありません